<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Nuevo Servicio</title>
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
</head>
<body>
    <div class="modal" id="modalServicio">
        <div class="modal-content">
            <span class="close-button" id="close-button">&times;</span>
            <h2>Agregar Nuevo Servicio</h2>
            <form th:action="@{/api/servicio/guardar}" method="post" th:object="${servicio}">
                <label for="tipo">Tipo de Servicio</label>
                <input type="text" id="tipo" th:field="*{tipo_servicio}" placeholder="Ingresa el tipo de Servicio">

                <label for="descripcion">Descripcion</label>
                <input type="text" id="Descripcion" th:field="*{descripcion}" placeholder="Ingresa la descripcion">

                <label for="precio">Precio</label>
                <input type="number" id="precio" th:field="*{precio}" placeholder="Ingresa el monto">
                <label for="id">Codigo de Empleado</label>
                <input type="number" id="id" th:field="*{id_empleado}" placeholder="Ingresa el Empleado">

                <input type="hidden" th:field="*{estado}" value="1" />
                <div class="button-group">
                    <button type="button" class="cancel-button" id="cancel-button">Cancelar</button>
                    <button type="submit" class="save-button">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>